@font-face
  font-family: 'Lato-Regular'
  src: url('../fonts/Lato-Regular.woff') format('woff'),
  url('../fonts/Lato-Regular.woff2') format('woff2')
  font-weight: normal
  font-style: normal
  font-display: swap
@font-face
  font-family: 'Lato-Heavy'
  src: url('../fonts/Lato-Heavy.woff') format('woff'),
  url('../fonts/Lato-Heavy.woff2') format('woff2')
  font-weight: normal
  font-style: normal
  font-display: swap
@font-face
  font-family: 'Lato-HeavyItalic'
  src: url('../fonts/Lato-HeavyItalic.woff') format('woff'),
  url('../fonts/Lato-HeavyItalic.woff2') format('woff2')
  font-weight: normal
  font-style: normal
  font-display: swap
@font-face
  font-family: 'Lato-Black'
  src: url('../fonts/Lato-Black.woff') format('woff'),
  url('../fonts/Lato-Black.woff2') format('woff2')
  font-weight: normal
  font-style: normal
  font-display: swap
/* roboto-slab-regular - latin_cyrillic */
@font-face
  font-family: 'Roboto Slab'
  font-style: normal
  font-weight: 400
  font-display: swap
  src: url('../fonts/roboto-slab-v16-latin_cyrillic-regular.eot')
  src: local(''),
  url('../fonts/roboto-slab-v16-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-slab-v16-latin_cyrillic-regular.woff2') format('woff2'),
  url('../fonts/roboto-slab-v16-latin_cyrillic-regular.woff') format('woff'), 
  url('../fonts/roboto-slab-v16-latin_cyrillic-regular.ttf') format('truetype'),
  url('../fonts/roboto-slab-v16-latin_cyrillic-regular.svg#RobotoSlab') format('svg')
