// media for max-width 1200 - container 960 - 
// media for max-width 991 - container 700 - уже планшет дизайн
  // все меняется под планшетную версию
// media for max-width 991 - container 700
// media for max-width 768px  - уже бургер меню появляется
// media for max-width 572 - container 90%

//        Ниже более актуальная информация
@media (max-width: 1200px)
  .container
    width: 960px
  .header
    &-nav
      &__item
        &:not(:last-child)
          margin-right: 20px
    &__request-btn
      width: 230px
  .tabs
    background: linear-gradient(to bottom, #262D33 75%, #EDEFF0 21%)
    padding-top: 20px
    &-wrapper
      min-height: 540px
    &-content
      width: 700px
      &__wrapper
        padding: 22px
    &-list
      width: 260px
  .content
    &-article
      &__title
        min-height: 140px
  .four-articles
    &__wrapper
      padding: 25px 20px 30px 20px
    &__article:not(:last-child)
      padding-right: 15px
    &__title
      width: 130px
  .grid-main
    &__wrapper
      padding-top: 23px
    &__title
      font-size: 23px
      line-height: 28px
    &__img
      width: 202px
      height: 206px
    &__top
      align-items: center
      padding-left: 25px
      padding-bottom: 25px
    &__left
      padding-top: 0
      margin-right: 10px
  .grid-popular
    &__wrapper
      padding-right: 20px
    &__btn
      margin-bottom: 90px
    &__title
      margin-bottom: 18px
    &__author-name
      display: flex
    &__desc
      flex-wrap: wrap
    &__date
      flex-basis: 100%
      margin-bottom: 5px
  .grid-checklist
    &__wrapper
      padding: 19px 25px 0 25px
    &__bottom
      padding: 10px 10px 10px 10px
    &__text
      margin-bottom: 10px
  .grid-tags
    max-height: 370px
    overflow: auto
    &__wrapper
      padding-left: 15px
    &__title
      padding: 20px 15px 20px 20px
    &__tag
      margin-right: 7px
      padding-right: 13px
      padding-left: 12px
  .grid-tools
    &__title
      padding: 15px 20px 30px 20px
  .grid-source
    &__wrapper
      padding: 25px 15px 20px 20px
    &__text
      margin-bottom: 20px
  .grid-customers
    &__wrapper
      padding: 25px 14px 20px 14px
    &__text
      margin-bottom: 20px
  .grid-stress
    &__wrapper
      padding: 15px 21px 20px 21px
    &__title
      height: 25px
      overflow: hidden
  .grid-methods
    &__wrapper
      padding: 15px 11px 20px 13px
  // все еще комп версия, просто адаптируем все под новый контейнер
@media(max-width: 992px)
  .container
    max-width: 700px
  .header
    &-logo
      width: 100px
      height: auto
    &-nav
      margin: 0
      &__item:not(:last-child)
        margin-right: 15px
      &__link
        font-size: 11px
        line-height: 13px
        &:hover
          border-bottom: none
    &__request-btn
      width: 154px
      font-size: 11px
      line-height: 13px
      &:hover
        background: #656B70
  .tabs
    background: linear-gradient(to bottom, $background-dark 67%, $background-grey 33%)
    margin-bottom: 20px
    &-wrapper
      min-height: 500px
      flex-wrap: wrap
    &-content
      min-height: 400px
    &-list
      padding-top: 0
      width: 100%
      &__title
        display: none
      &__item
        border-bottom: none
        min-height: 100px
        padding: 17px 12px 18px 12px
        flex-basis: 33%
        &:nth-child(3)
          flex-basis: 34%
        &:last-child, &:nth-last-child(2)
          display: none
        &:hover
          background-color: $light
        &--active
          &:hover
            background-color: #F5F5F5
      &__text
        font-size: 13px
  .content
    &-article
      max-width: 100%
      margin-top: 105px
      &__title
        min-height: 80px
        font-size: 30px
        line-height: 36px
      &__btn
        &:hover
          background: $blue
  .four-articles
    &__wrapper
      flex-wrap: wrap
      padding: 25px
    &__article
      flex-basis: 47%
      &:hover
        opacity: unset
      &:first-child, &:nth-child(2)
        margin-bottom: 30px
      &:not(:last-child)
        padding-right: 28px
      &:nth-child(2), &:nth-child(4)
        padding-right: 0
        border-right: none
    &__title
      width: 190px
      margin-right: 20px
    &__img
      width: 80px
      height: 65px
      border-radius: 5px
  .grid-articles
    &__wrapper
      grid-template-columns: repeat(3, 1fr)
      grid-template-rows: repeat(4, minmax(175px, auto))
      grid-gap: 20px
  .grid-main
    &__wrapper
      padding-top: 25px
    &__title
      font-size: 22px
      line-height: 26px
    &__top
      padding-bottom: 30px
  .grid-tools
    grid-row: 3 / 5
    grid-column: 1 / 2
  .grid-source
    grid-row: 3 / 4
    grid-column: 2 / 3
  .grid-customers
    grid-row: 3 / 4
    grid-column: 3 / 4
    &__wrapper
      padding: 25px 20px 20px 20px
  .grid-stress
    grid-row: 4 / 5
    grid-column: 2 / 3
  .grid-methods
    grid-row: 4 / 5
    grid-column: 3 / 4
    &__wrapper
      padding: 15px 25px 20px 25px
  .grid-checklist
    &__wrapper
      padding: 15px 25px 0 25px
  .grid-tags
    grid-row: 5 / 6
    grid-column: 2 / 3
    max-height: 170px
    &__tag
      &:hover
        background-color: $light
        color: $title-color
// уже планшетная версия
@media(max-width: 768px)
  .container
    width: 92%
  body
    padding-top: 62px
  .header
    min-height: 62px
    &-logo
      width: 115px
    &--mobile
      &-fixed
        position: fixed
        top: 0
        right: 0
        left: 0
        z-index: 9
    &-nav
      display: none
      padding: 20px 0
      &--visible
        display: flex
        flex-direction: column
        align-items: center
        overflow: auto
        position: fixed
        right: 0
        left: 0
        bottom: 0
        top: 62px
        background: $background-dark
      &__item
        &:not(:last-child)
          margin-right: 0
          margin-bottom: 20px
        &:not(:nth-last-child(2))
          margin-right: 0
        &--mobile
          &-visible
            display: flex
      &__link
        font-size: 16px
        line-height: 20px
    &__request-btn
      &--mobile
        font-size: 16px
        line-height: 20px
        width: 200px
        &-visible
          display: none
    &-burger
      &--mobile
        &-visible
          display: flex
  .tabs
    background: linear-gradient(to bottom, $background-dark 59%, $background-grey 41%)
    &-content
      min-height: auto
      &
    &-list
      &__item
        flex-basis: 50%
        &:nth-child(3)
          flex-basis: 50%
        &:nth-last-child(2)
          display: flex
  .content
    &-article
      margin-top: 100px
      &__title
        min-height: 95px
        font-size: 24px
        line-height: 30px
  .four-articles
    &__wrapper
      padding: 35px
    &__article
      flex-basis: 100%
      justify-content: space-between
      &:not(:last-child)
        margin-bottom: 10px
        padding-right: 0
        border-right: 0
    &__title
      width: auto
      margin-right: 20px
      font-size: 16px
  .grid-articles
    &__wrapper
      grid-template-columns: repeat(2, 1fr)
      grid-template-rows: repeat(5, minmax(175px, auto))
  .grid-main
    &__title
      font-size: 25px
      line-height: 30px
    &__top
      justify-content: space-between
      padding-bottom: 30px
    &__img
      width: 250px
      height: auto
  .grid-popular
    grid-row: 3 / 5
    grid-column: 1 / 2
    &__wrapper
      padding-right: 20px
      padding-left: 20px
    &__date
      margin-bottom: 0
      flex-basis: auto
  .grid-customers
    grid-row: 3 / 4
    grid-column: 2 / 3
  .grid-source
    grid-row: 4 / 5
    grid-column: 2 / 3
  .grid-tools
    grid-row: 5 / 7
    grid-column: 2 / 3
  .grid-methods
    grid-row: 5 / 6
    grid-column: 1 / 2
  .grid-stress
    grid-row: 6 / 7
    grid-column: 1 / 2
  .grid-tags
    grid-row: 7 / 9
    grid-column: 2 / 3
    max-height: 360px
  .grid-checklist
    grid-row: 7 / 8
    grid-column: 1 / 2
  .grid-social
    grid-row: 8 / 9
    grid-column: 1 / 2
  // уже есть бургер меню
@media(max-width: 576px)
  .content
    &-article
      margin-top: 40px
  .tabs
    background: linear-gradient(to bottom, #262D33 55%, #EDEFF0 45%)
  .four-articles
    &__title
      width: 60%
      font-size: 14px
      margin-right: 0
    &__img
      width: 75px
  .grid-articles
    &__wrapper
      grid-template-columns: 1fr
      grid-template-rows: minmax(min-content, auto)
      grid-auto-rows: minmax(min-content, auto)
  .grid-main
    grid-row: 1
    grid-column: 1
    &__wrapper
      padding-top: 20px
    &__top
      padding-bottom: 20px
      padding-left: 20px
    &__left
      width: 49%
    &__title
      font-size: 22px
      line-height: 26px
    &__img
      width: 49%
    &__bottom
      padding-left: 20px
      flex-wrap: wrap
  .grid-popular
    grid-row: 2
    grid-column: 1
  // мобильная версия
@media(max-width: 480px)
  .tabs
    background: linear-gradient(to bottom, #262D33 52%, #EDEFF0 48%)
    &-list
      &__item
        flex-basis: 100%
        &:nth-child(3)
          flex-basis: 100%
  .grid-main
    &__img
      display: none
    &__left
      width: 100%
      max-width: 100%
@media(max-width: 320px)
  .tabs
    background: linear-gradient(to bottom, #262D33 40%, #EDEFF0 60%)
