// media for max-width 1200 - container 960 - 
// media for max-width 991 - container 700 - уже планшет дизайн
  // все меняется под планшетную версию
// media for max-width 991 - container 700
// media for max-width 768px  - уже бургер меню появляется
// media for max-width 572 - container 90%

//        Ниже более актуальная информация
@media (max-width: 1200px)
  .container
    width: 960px
  .header
    &-nav
      &__item
        &:not(:last-child)
          margin-right: 20px
    &__request-btn
      width: 230px
  .tabs
    background: linear-gradient(to bottom, #262D33 75%, #EDEFF0 21%)
    padding-top: 20px
    &-wrapper
      min-height: 540px
    &-content
      width: 700px
      &__wrapper
        padding: 22px
    &-list
      width: 260px
  .content
    &-article
      &__title
        min-height: 140px
  .four-articles
    &__wrapper
      padding: 25px 20px 30px 20px
    &__article:not(:last-child)
      padding-right: 15px
    &__title
      width: 130px
  .grid-main
    &__wrapper
      padding-top: 23px
    &__title
      font-size: 23px
      line-height: 28px
    &__img
      width: 202px
      height: 206px
    &__top
      align-items: center
      padding-left: 25px
      padding-bottom: 25px
    &__left
      padding-top: 0
      margin-right: 10px
  .grid-popular
    &__wrapper
      padding-right: 20px
    &__btn
      margin-bottom: 90px
    &__title
      margin-bottom: 18px
    &__author-name
      display: flex
    &__desc
      flex-wrap: wrap
    &__date
      flex-basis: 100%
      margin-bottom: 5px
  .grid-checklist
    &__wrapper
      padding: 19px 25px 0 25px
    &__bottom
      padding: 10px 10px 10px 10px
    &__text
      margin-bottom: 10px
  .grid-tags
    max-height: 370px
    overflow: auto
    &__wrapper
      padding-left: 15px
    &__title
      padding: 20px 15px 20px 20px
    &__tag
      margin-right: 7px
      padding-right: 13px
      padding-left: 12px
  .grid-tools
    &__title
      padding: 15px 20px 30px 20px
  .grid-source
    &__wrapper
      padding: 25px 15px 20px 20px
    &__text
      margin-bottom: 20px
  .grid-customers
    &__wrapper
      padding: 25px 14px 20px 14px
    &__text
      margin-bottom: 20px
  .grid-stress
    &__wrapper
      padding: 15px 21px 20px 21px
    &__title
      height: 25px
      overflow: hidden
  .grid-methods
    &__wrapper
      padding: 15px 11px 20px 13px
  .broad
    &-recently-container
      grid-template-columns: 668px 263px
    &-article
      &__wrapper
        margin: 0 20px 0 20px
      &__img
        width: 200px
      &__br
        display: none
      &__text
        max-height: 80px
  .slider
    &-section
      &__wrapper
        grid-template-columns: repeat(4, 1fr)
      &__slider
        grid-column: 1 / 3
        grid-row: 1 / 3
  .interview
    &-questions
      grid-column: 3 / 5
      grid-row: 1 / 2
      &__br
        display: none
  .charging-eyes, .jquery-plagins
    &__wrapper
      padding: 20px
    &__text
      max-height: 80px
      min-height: 80px
  .footer
    &-nav
      grid-template-columns: repeat(6, 1fr)
  .article
    &-main
      &__author
        right: 0
    &-author
      min-width: auto
    &-slider
      &__text
        flex-basis: 75%
    &-content
      &__container
        margin-left: 60px
      &__help
        margin-left: 60px
  .material-topic
    &__img
      height: 160px
@media(max-width: 992px)
  .container
    max-width: 700px
  .header
    &-logo
      width: 100px
      height: auto
    &-nav
      margin: 0
      &__item:not(:last-child)
        margin-right: 15px
      &__link
        font-size: 11px
        line-height: 13px
        &:after
          display: none
    &__request-btn
      width: 154px
      font-size: 11px
      line-height: 13px
      &:hover
        background: #656B70
  .tabs
    background: linear-gradient(to bottom, $background-dark 67%, $background-grey 33%)
    margin-bottom: 20px
    &-wrapper
      min-height: 500px
      flex-wrap: wrap
    &-content
      min-height: 400px
    &-list
      padding-top: 0
      width: 100%
      &__title
        display: none
      &__item
        border-bottom: none
        min-height: 100px
        padding: 17px 12px 18px 12px
        flex-basis: 33%
        &:nth-child(3)
          flex-basis: 34%
        &:last-child, &:nth-last-child(2)
          display: none
        &:hover
          background-color: $light
        &--active
          &:hover
            background-color: #F5F5F5
      &__text
        font-size: 13px
  .content
    &-article
      max-width: 100%
      margin-top: 105px
      &__title
        min-height: 80px
        font-size: 30px
        line-height: 36px
      &__btn
        &:hover
          background: $blue
  .four-articles
    &__wrapper
      flex-wrap: wrap
      padding: 25px
    &__article
      flex-basis: 47%
      &:hover
        opacity: unset
      &:first-child, &:nth-child(2)
        margin-bottom: 30px
      &:not(:last-child)
        padding-right: 28px
      &:nth-child(2), &:nth-child(4)
        padding-right: 0
        border-right: none
    &__title
      width: 190px
      margin-right: 20px
    &__img
      width: 80px
      height: 65px
      border-radius: 5px
  .grid-articles
    margin-bottom: 40px
    &__wrapper
      grid-template-columns: repeat(3, 1fr)
      grid-template-rows: repeat(4, minmax(175px, auto))
      grid-gap: 20px
  .grid-main
    &__wrapper
      padding-top: 25px
    &__title
      font-size: 22px
      line-height: 26px
      &:hover
        transform: none
    &__top
      padding-bottom: 30px
  .grid-popular
    &:hover
      transform: none
  .grid-tools
    grid-row: 3 / 5
    grid-column: 1 / 2
    &:hover
      transform: none
  .grid-source
    grid-row: 3 / 4
    grid-column: 2 / 3
    &:hover
      transform: none
  .grid-customers
    grid-row: 3 / 4
    grid-column: 3 / 4
    &:hover
      transform: none
    &__wrapper
      padding: 25px 20px 20px 20px
  .grid-stress
    grid-row: 4 / 5
    grid-column: 2 / 3
    &:hover
      transform: none
  .grid-methods
    grid-row: 4 / 5
    grid-column: 3 / 4
    &:hover
      transform: none
    &__wrapper
      padding: 15px 25px 20px 25px
  .grid-checklist
    &__wrapper
      padding: 15px 25px 0 25px
    &__link
      &:hover
        transform: none
  .grid-tags
    grid-row: 5 / 6
    grid-column: 2 / 3
    max-height: 170px
    &__tag
      &:hover
        background-color: $light
        color: $title-color
  .grid-social
    &__img
      &:hover
        transform: none
  .full-width
    &__title
      font-size: 30px
      line-height: 36px
    &__btn
      &:hover
        background-color: $blue
    &--mb
      margin-bottom: 40px
  .broad
    &-recently-container
      grid-template-columns: 1fr
      grid-template-rows: repeat(2, min-content)
      margin-bottom: 40px
    &__articles
      grid-row: 1 / 2
      grid-column: 1 / 2
    &-article
      &__wrapper
        margin: 0 20px 0 20px
      &__img
        width: 200px
      &__link
        &:hover
          opacity: 1
      &__favorite
        &:hover
          transform: none
      &__text
        max-height: 60px
  .recently
    &-published
      grid-row: 2 / 3
      grid-column: 1 / 2
      &__title
        text-align: center
      &__wrapper
        display: flex
        flex-wrap: wrap
        justify-content: space-between
      &__article
        flex-basis: 49%
        &:last-child
          display: none
      &__link
        &:hover
          transform: none
    &-article
      &__link
        &:hover
          opacity: 1
      &:nth-last-child(2), &:nth-last-child(3)
        border-bottom: none
  .slider
    &-section
      &__wrapper
        grid-template-columns: repeat(2, 1fr)
        grid-template-rows: minmax(470px, auto)
      &__slider
        grid-column: 1 / 3
        grid-row: 1 / 3
  .interview
    &-questions
      grid-column: 1 / 3
      grid-row: 3 / 4
  .articles-slider, .interview-questions
    &__btn
      &:hover
        background-color: $blue
  .slick-dots
    bottom: 20px
  .charging-eyes, .jquery-plagins
    &__wrapper
      padding: 25px
    &:hover
      transform: none
  .footer
    &__title
      font-size: 30px
      line-height: 36px
    &__top
      margin-bottom: 50px
    &-form
      &__btn
        &:hover
          background: $blue
    &-nav
      grid-template-rows: repeat(2, auto)
      grid-template-columns: repeat(3, 1fr)
      &__list
        display: flex
        flex-direction: column
        align-items: center
        &:first-child, &:nth-child(2), &:nth-child(3)
          margin-bottom: 30px
      &__link
        &:after
          display: none
    &-main-nav
      &__logo
        margin-right: 20px
        &:hover
          transform: none
      &__link
        border-bottom: none
        font-size: 13px
        &:hover
          border-bottom: none
      &__item:not(:last-child)
        margin-right: 16px
    &-social
      &__img
        &:hover
          transform: none
      &__link:not(:last-child)
        margin-right: 5px
    &-copyright
      flex-direction: column
      &__text
        margin-bottom: 30px
  .error-404
    &__number
      font-size: 150px
    &__not-find
      font-size: 30px
  .article
    &-main
      &__wrapper
        padding-left: 60px
        padding-right: 60px
      &__favorite
        top: 141px
        &:hover
          transform: none
      &__br
        display: none
      &__author
        bottom: -50px
    &-top
      &__title
        font-size: 40px
        line-height: 50px
    &-author
      &__wrapper
        padding: 15px 10px 0 10px
        flex-direction: row
      &__info
        align-items: flex-start
      &__link
        padding: 10px 0
      &__img
        margin-right: 15px
        width: 75px
        height: 75px
      &__name
        font-size: 18px
        line-height: 22px
      &__work
        margin-bottom: 10px
      &__articles
        margin-bottom: 15px
    &-content
      &__wrapper
        flex-wrap: wrap
      &__container, &__help
        margin: 0
        max-width: none
      &__text
        &--mb
          margin-bottom: 30px
      &__br
        display: none
      &__material
        margin-top: 0
    &-slider
      &__img
        height: 350px
      &__text
        padding-top: 15px
        padding-bottom: 15px
        flex-basis: 66%
      &__nav
        width: 45px
        height: 45px
  .material-topic
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
    max-width: none
    &__wrapper
      display: flex
      flex-direction: column
      flex-basis: 55%
    &__name
      flex-basis: 100%
    &__img
      margin-bottom: 0
      width: 40%
    &__br
      display: none
    &__title
      &:hover
        color: $background-dark
  .tags
    &__tag
      &:hover
        background-color: #ffffff
        color: #262D33
  .repost-help
    &__button
      &:hover
        background-color: $blue
  .article
    &-cards
      &__card
        margin-bottom: 30px
        max-width: none
        width: 48%
    &-card
      &__img
        width: 100%
      &__title
        min-height: 50px
        &:hover
          color: $title-color
  .load-more, .comments-top__link
    &:hover
      background-color: $light
      color: $background-dark
  .comments
    &__wrapper
      width: 100%
      margin-left: 0
    &-top
      &__title, &__number
        font-size: 30px
        line-height: 40px
    &-form
      width: 100%
      &__container
        width: 70%
      &__btn
        &:hover
          background-color: $blue
    &__load
      padding-left: 0
  .comment
    &__text
      &--mb
        margin-bottom: 15px
@media(max-width: 768px)
  .container
    width: 92%
  body
    padding-top: 62px
  .header
    min-height: 62px
    &-logo
      width: 115px
    &--mobile
      &-fixed
        position: fixed
        top: 0
        right: 0
        left: 0
        z-index: 9
    &-nav
      display: none
      padding: 20px 0
      &--visible
        display: flex
        flex-direction: column
        align-items: center
        overflow: auto
        position: fixed
        right: 0
        left: 0
        bottom: 0
        top: 62px
        background: $background-dark
      &__item
        &:not(:last-child)
          margin-right: 0
          margin-bottom: 20px
        &:not(:nth-last-child(2))
          margin-right: 0
        &--mobile
          &-visible
            display: flex
      &__link
        font-size: 16px
        line-height: 20px
    &__request-btn
      &--mobile
        font-size: 16px
        line-height: 20px
        width: 200px
        &-visible
          display: none
    &-burger
      &--mobile
        &-visible
          display: flex
  .tabs
    background: linear-gradient(to bottom, $background-dark 59%, $background-grey 41%)
    &-content
      min-height: auto
      &
    &-list
      &__item
        flex-basis: 50%
        &:nth-child(3)
          flex-basis: 50%
        &:nth-last-child(2)
          display: flex
  .content
    &-article
      margin-top: 100px
      &__title
        min-height: 95px
        font-size: 24px
        line-height: 30px
  .four-articles
    &__wrapper
      padding: 35px
    &__article
      flex-basis: 100%
      justify-content: space-between
      &:not(:last-child)
        margin-bottom: 10px
        padding-right: 0
        border-right: 0
    &__title
      width: auto
      margin-right: 20px
      font-size: 16px
  .grid-articles
    &__wrapper
      grid-template-columns: repeat(2, 1fr)
      grid-template-rows: repeat(5, minmax(175px, auto))
      align-items: stretch
  .grid-main
    &__title
      font-size: 25px
      line-height: 30px
    &__top
      justify-content: space-between
      padding-bottom: 30px
    &__img
      width: 250px
      height: auto
  .grid-popular
    grid-row: 3 / 5
    grid-column: 1 / 2
    &__wrapper
      padding-right: 20px
      padding-left: 20px
    &__date
      margin-bottom: 0
      flex-basis: auto
  .grid-customers
    grid-row: 3 / 4
    grid-column: 2 / 3
    &__wrapper
      padding: 25px 25px 30px 25px
    &__text
      margin-bottom: 30px
  .grid-source
    grid-row: 4 / 5
    grid-column: 2 / 3
    &__wrapper
      padding: 25px 25px 30px 25px
  .grid-tools
    grid-row: 5 / 7
    grid-column: 2 / 3
  .grid-methods
    grid-row: 5 / 6
    grid-column: 1 / 2
    &__wrapper
      padding: 25px 25px 30px 25px
  .grid-stress
    grid-row: 6 / 7
    grid-column: 1 / 2
    &__wrapper
      padding: 25px 25px 30px 25px
  .grid-tags
    grid-row: 7 / 9
    grid-column: 2 / 3
    max-height: none
    &__title
      padding: 20px 25px 19px 25px
    &__wrapper
      padding-left: 25px
    &__tag
      font-size: 15px
      padding: 6px 15px 6px 15px
      margin-right: 10px
  .grid-checklist
    grid-row: 7 / 8
    grid-column: 1 / 2
    &__wrapper
      padding: 24px 25px 0 25px
    &__text
      margin-bottom: 19px
    &__bottom
      padding-top: 12px
      padding-bottom: 13px
  .grid-social
    grid-row: 8 / 9
    grid-column: 1 / 2
  .full-width
    &__title
      font-size: 25px
      line-height: 30px
  .broad
    &-article
      &__wrapper
        padding: 20px 0 20px 0
      &__title
        margin-top: 10px
      &__link
        max-height: 44px
        font-size: 18px
        line-height: 22px
      &__img
        height: auto
        border-radius: 10px
      &__text
        max-height: 120px
  .slider-section
    &__wrapper
      grid-template-rows: auto
  .articles-slider
    &__title
      font-size: 30px
      line-height: 40px
  .interview
    &-questions
      &__wrapper
        max-width: 220px
  .footer
    &-main-nav
      flex-wrap: wrap
      &__link
        font-size: 14px
      &__social
        margin: 0 auto
      &__ul
        margin-right: 0
      &__logo
        margin-bottom: 0!important
    &-bottom
      &__wrapper
        margin-right: auto
        margin-left: auto
        margin-bottom: 30px
    &-copyright
      &__text
        max-width: 100%
        margin-bottom: 25px
    &-social
      &__link
        &:not(:last-child)
          margin-right: 15px
  .modal
    &__dialog
      width: 75%
      max-width: auto
  .article
    &-main
      &__wrapper
        padding: 50px 50px 60px 50px
      &__favorite
        top: 132px
    &-top
      &__title
        font-size: 30px
        line-height: 45px
    &-slider
      &__img
        height: 300px
      &__nav
        top: 33%
        width: 30px
        height: 30px
      &__info
        flex-wrap: wrap
      &__text
        flex-basis: 100%
        border-right: none
        border-bottom: 1px solid $line-color
    &-content
      padding-bottom: 40px
      &__strong-text
        font-size: 20px
        padding: 10px
        &::before
          top: -10px
          left: -10px
  .material-topic
    &__img
      height: 180px
  .article
    &-cards
      &__wrapper
        padding: 40px 0
  .comments
    &__wrapper
      padding-top: 40px
  .footer
    &__wrapper
      padding-top: 40px
@media(max-width: 576px)
  .content
    &-article
      margin-top: 40px
  .tabs
    background: linear-gradient(to bottom, #262D33 55%, #EDEFF0 45%)
  .four-articles
    &__title
      width: 60%
      font-size: 14px
      margin-right: 0
    &__img
      width: 75px
  .grid-articles
    &__wrapper
      grid-template-columns: 1fr
      grid-template-rows: minmax(min-content, auto)
      grid-auto-rows: minmax(min-content, auto)
  .grid-main
    grid-row: 1 / 2
    grid-column: 1 / 2
    &__wrapper
      padding-top: 20px
    &__top
      padding-bottom: 20px
      padding-left: 20px
    &__left
      width: 49%
    &__title
      font-size: 22px
      line-height: 26px
    &__img
      width: 49%
    &__bottom
      padding-left: 20px
      flex-wrap: wrap
  .grid-popular
    grid-row: 2 / 3
    grid-column: 1 / 2
  .grid-source
    grid-row: 3 / 4
    grid-column: 1 / 2
  .grid-customers
    grid-row: 4 / 5
    grid-column: 1 / 2
  .grid-tools
    grid-row: 5 / 6
    grid-column: 1 / 2
  .grid-stress
    grid-row: 6 / 7
    grid-column: 1 / 2
  .grid-methods
    grid-row: 7 / 8
    grid-column: 1 / 2
  .grid-checklist
    grid-row: 8 / 9
    grid-column: 1 / 2
  .grid-tags
    grid-row: 9 / 10
    grid-column: 1 / 2
  .grid-social
    grid-row: 10 / 11
    grid-column: 1 / 2
  .full-width
    &__title
      font-size: 21px
      line-height: 30px
  .recently-published
    &__article
      flex-basis: 100%
      &:last-child
        display: flex
      &:nth-last-child(3), &:nth-last-child(2)
        border-bottom: 1px solid $line-color
  .broad
    &-article
      &__wrapper
        flex-direction: column
        padding: 25px 0 24px 0
        margin: 0 25px 0 25px
      &__img
        width: 100%
        margin-bottom: 25px
        margin-right: 0
        height: 280px
        border-radius: 5px
      &__title
        margin-top: 15px
      &__text
        max-height: 80px
  .articles
    &-slider
      &__title
        font-size: 24px
        line-height: 30px
        margin-bottom: 30px
  .charging-eyes, .jquery-plagins
    grid-column: span 2
  .footer
    &__title
      font-size: 24px
      line-height: 30px
    &-form
      &__input
        width: 250px
      &__btn
        padding-right: 15px
        padding-left: 15px
    &-nav
      grid-template-columns: repeat(2, 1fr)
      grid-template-rows: repeat(3, auto)
      &__list
        margin-bottom: 30px
        align-items: flex-start

    &-bottom
      &__wrapper
        display: flex
        flex-direction: column
        align-content:
        margin: 0
        justify-content: safe
        flex-basis: 100%

    &-main-nav
      justify-content: space-around
      &__logo, &__item:not(:last-child), &__social
        margin: 0
      &__ul
        flex-direction: column
        align-items: center
      &__item
        margin-bottom: 20px!important
      &__logo
        &-link
          margin-bottom: 30px
  .error-404
    &__number
      font-size: 100px
    &__not-find
      font-size: 24px
    &__text
      font-size: 16px
  .article
    &-main
      &__top
        margin-bottom: 30px
      &__topic
        margin-bottom: 30px
      &__favorite
        top: 155px
      &__nav
        flex-basis: 100%
        justify-content: space-between
      &__author
        bottom: -105px
        right: 50%
        transform: translateX(50%)
    &-top
      flex-wrap: wrap
      &__title
        margin-bottom: 20px
        font-size: 25px
        line-height: 35px
      &__text
        font-size: 16px
        line-height: 25px
    &-content
      padding-top: 130px
      &__wrapper
        margin-bottom: 60px
    &-author
      min-width: 80%
      &__wrapper
        justify-content: center
    &-slider
      &__img
        height: 270px
      &__nav
        top: 28%
  .material-topic
    &__img
      margin-bottom: 10px
      flex-basis: 100%
      height: 200px
    &__wrapper
      flex-basis: 100%
  .article
    &-card
      &__title
        font-size: 15px
  .comments
    &-top
      flex-wrap: wrap
      &__wrapper
        flex-basis: 100%
        margin-bottom: 30px
    &-form
      &__container
        justify-content: center
      &__main
        flex-direction: column
        align-items: center
      &__title
        font-size: 17px
      &__avatar
        margin: 0 0 10px 0
  .load-more
    padding: 10px 0
@media(max-width: 480px)
  .tabs
    background: linear-gradient(to bottom, #262D33 52%, #EDEFF0 48%)
    &-list
      &__item
        flex-basis: 100%
        &:nth-child(3)
          flex-basis: 100%
  .grid-main
    &__img
      display: none
    &__left
      width: 100%
      max-width: 100%
  .full-width
    &__br
      display: none
  .broad
    &-article
      &__img
        height: 220px
        border-radius: 10px
      &__text
        max-height: 120px
  .articles
    &-slider
      &__wrapper
        padding: 10px 20px 20px 20px
      &__title
        font-size: 20px
        line-height: 25px
      &__btn
        margin-bottom: 15px
  .slick-dots
    bottom: 10px

  .footer
    &-form
      display: flex
      flex-direction: column
      width: 100%
      align-items: stretch
      flex-wrap: nowrap
      &__input
        width: 100%
        margin-bottom: 15px
    &__title
      font-size: 5.3vw
  .modal
    &__dialog
      width: 95%
  .error-404
    &__number
      font-size: 100px
    &__not-find
      font-size: 24px
    &__text
      font-size: 14px
  .footer-form__input + #email-error
    bottom: 42px
    left: 5px
  .article
    &-main
      &__wrapper
        padding-left: 30px
        padding-right: 30px
      &__favorite
        top: 152px
        width: 15px
    &-top
      &__title
        font-size: 20px
        line-height: 28px
    &-nav
      font-size: 10px
      &__index
        margin-right: 22px
      &__back
        margin-right: 15px
    &-author
      &__name
        font-size: 16px
      &__work, &__articles
        font-size: 13px
    &-slider
      &__img
        height: 220px
      &__text
        padding: 10px 15px
        font-size: 13px
      &__author
        padding: 10px 15px
        &-info
          align-items: center
          flex-direction: row
        &-name
          margin-bottom: 0
          margin-right: 10px
      &__prev
        left: 15px
      &__next
        right: 15px
    &-content
      &__strong-text
        font-size: 16px
  .tags
    &__tag
      margin-right: 7px
  .repost-help
    &__title
      text-align: center
    &__wrapper
      display: flex
      flex-direction: column
    &__buttons
      flex-direction: column
    &__button
      justify-content: center
      &:not(:last-child)
        margin-bottom: 15px
  .article
    &-content
      padding-bottom: 30px
    &-cards
      &__wrapper
        justify-content: center
      &__card
        width: 85%
    &-card
      &__title
        min-height: auto
  .comments
    &__reply-comment
      padding-left: 40px
    &-top
      &__title, &__number
        font-size: 24px
        line-height: 30px
    &-form
      &__main
        padding: 20px 10px
      &__container
        width: 100%
      &__title
        font-size: 14px
      &__btn
        width: 100%
  .comment
    &__top
      flex-direction: column
      align-items: flex-start
    &__author
      margin-right: 0
      margin-bottom: 5px
    &__img
      width: 35px
      height: 35px
    &__text
      font-size: 15px
@media(max-width: 320px)
  .tabs
    background: linear-gradient(to bottom, #262D33 40%, #EDEFF0 60%)
  .broad
    &-article
      &__img
        height: 190px
        border-radius: 5px
  .article
    &-slider
      &__img
        height: 180px
      &__nav
        top: 24%
    &-cards
      &__card
        width: 100%
