.article
  &-content
    padding-top: 60px
    padding-bottom: 60px
    background-color: $light
    &__wrapper
      margin-bottom: 80px
      display: flex
      align-items: flex-start
    &__container
      margin-left: 97px
      margin-right: 60px
      max-width: 622px
    &__text
      margin: 0
      margin-bottom: 30px
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 30px
      color: $grid-text
      &--mb, &--mb0
        margin-bottom: 0
      &--mb45
        margin-bottom: 45px
      &--mb60
        margin-bottom: 60px
    &__first-text
      margin: 0
      margin-bottom: 45px
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 30px
      color: $grid-text
      &::first-letter
        margin-top: 9px
        margin-left: -7px
        margin-right: 11px
        font-family: "Lato-Heavy"
        float: left
        position: relative
        font-size: 100px
        line-height: 75px
        color: $blue
    &__title
      margin-bottom: 30px
      font-family: Roboto Slab
      font-style: normal
      font-weight: bold
      font-size: 25px
      line-height: 30px
      color: $title-color
    &__slider
      margin-bottom: 45px
    &__material
      margin-top: 135px
    &__strong-text
      margin: 0 0 45px 0
      position: relative
      z-index: 1
      font-family: Roboto Slab
      font-style: normal
      font-weight: bold
      font-size: 25px
      line-height: 30px
      color: $background-dark
      &::before
        content: ''
        z-index: -1
        width: 70px
        height: 70px
        top: -21px
        left: -20px
        position: absolute
        background-image: url("../img/quote.svg")
        background-repeat: no-repeat
        opacity: 75%
    &__tags
      margin-bottom: 50px
    &__help
      margin-left: 100px
      max-width: 57%
  &-slider
    &__item
      border-top-left-radius: 10px
      border-top-right-radius: 10px
      overflow: hidden
    &__img
      display: flex
      width: 100%
      height: 555px
      object-fit: cover
    &__info
      border: 1px solid $line-color
      border-bottom-left-radius: 10px
      border-bottom-right-radius: 10px
      border-top: 0
      display: flex
      align-items: center
    &__text
      flex-basis: 77%
      padding: 25px 35px
      margin: 0
      font-size: 14px
      line-height: 20px
      color: $grid-text
      border-right: 1px solid $line-color
    &__author
      padding: 12px 35px 13px 30px
      display: flex
      align-items: center
      &-img
        margin-right: 10px
        width: 45px
        height: 45px
        border-radius: 50%
        object-fit: cover
      &-info
        display: flex
        flex-direction: column
      &-name
        margin-bottom: 2px
        font-size: 14px
        line-height: 20px
        color: $grid-text
      &-work
        font-size: 12px
        line-height: 15px
        color: $grey-for-numbers
    &__nav
      width: 60px
      height: 60px
      position: absolute
      top: 40%
      z-index: 100
      background-image: url('../img/slider-arrow.svg')
      background-repeat: no-repeat
      background-size: cover
      cursor: pointer
    &__prev
      left: 35px
    &__next
      transform: rotate(180deg)
      right: 35px
.material-topic
  max-width: 263px
  &__name
    margin: 0 0 20px 0
    font-family: Roboto Slab
    font-style: normal
    font-weight: bold
    font-size: 20px
    line-height: 25px
    color: $background-dark
  &__img
    display: flex
    width: 100%
    height: 180px
    margin-bottom: 15px
    border-radius: 10px
    object-fit: cover
  &__title
    margin: 0 0 5px 0
    font-family: Roboto Slab
    font-style: normal
    font-weight: bold
    font-size: 16px
    line-height: 25px
    color: $background-dark
  &__text
    margin: 0 0 20px 0
    font-size: 14px
    line-height: 20px
    color: $grid-text
  &__info
    display: flex
    align-items: center
    font-size: 12px
    line-height: 15px
    color: $grey-for-numbers
  &__watches
    @include icon-before($image: '../img/eye.svg')
    margin-right: 10px
  &__comments
    @include icon-before($image: '../img/material-comment.svg')
.tags
  &__wrapper
    display: flex
    flex-wrap: wrap
  &__tag
    margin: 0 10px 10px 0
    padding: 4px 15px
    font-family: "Lato-Black"
    font-style: normal
    font-size: 14px
    line-height: 20px
    color: $title-color
    border: 1px solid $line-color
    border-radius: 5px
    text-decoration: none
    transition: all 0.3s ease
    background-color: $light
    &:hover
      background-color: $template-green
      color: $light
.repost-help
  &__wrapper
    border-top: 1px solid $line-color
    padding: 30px 0
  &__title
    margin: 0 0 25px 0
    font-family: Roboto Slab
    font-style: normal
    font-weight: bold
    font-size: 25px
    line-height: 30px
    color: $title-color
  &__buttons
    display: flex
  &__button
    margin-right: 14px
    padding: 10px 20px
    display: flex
    align-items: center
    background-color: $blue
    border-radius: 20px
    &:hover
      background-color: darken($blue, 10%)
  &__icon
    margin-right: 8px
  &__text
    margin-right: 8px
    font-family: 'Lato-Black'
    font-style: normal
    font-size: 14px
    line-height: 20px
    color: $light
  &__number
    font-family: 'Lato-Black'
    font-style: normal
    font-size: 14px
    line-height: 20px
    color: $light
