.article
  &-content
    background-color: $light
    &__container
      padding-top: 60px
      padding-bottom: 90px
      margin-left: 97px
      margin-right: 60px
      max-width: 622px
    &__text
      margin: 0
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 30px
      color: $grid-text
      &:not(:first-child)
        margin-bottom: 15px
    &__first-text
      margin: 0
      margin-bottom: 45px
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 30px
      color: $grid-text
      &::first-letter
        margin-top: 9px
        margin-left: -7px
        margin-right: 11px
        font-family: "Lato-Heavy"
        float: left
        position: relative
        font-size: 100px
        line-height: 75px
        color: $blue
    &__title
      margin-bottom: 30px
      font-family: Roboto Slab
      font-style: normal
      font-weight: bold
      font-size: 25px
      line-height: 30px
      color: $title-color
